<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>myApp</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>
  <script src="lib/jquery/jquery-1.11.1.min.js"></script>
  <script src="lib/jquery/jquery.localize.min.js"></script> 
  <script src="lib/jquery/fastclick.js"></script> 

  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
  <script src="js/main.js"></script>
  
</head>

<body>
<ons-page>

<ons-row>
  <ons-col align="center" class="logo">
    <div class="center">
    <h1 data-localize="logo">
      <img src="images/icons/icon_29749.png" title="Unicorn" height="39px" />
    </h1>
      
    </div>
  </ons-col>
</ons-row>

  <ons-row class="margin">
    <ons-col align="center">
      <div>
      </div>
      <form id="login_form">
        <div style="text-align: center">
          <section style="padding: 8px">
            <input type="text" class="text-input input_form" ng-model="text" placeholder="Brugernavn / Email" id="email" name="email" style="display: block; width: 100%">
          </section>
          <section style="padding: 8px">
            <input type="password" class="text-input input_form" ng-model="password" placeholder="Kodeord" id="password" name="password" style="display: block; width: 100%">
          </section>
          <div class="error"></div>
          <section style="padding: 0 8px 8px">
            <ons-button modifier="large" value="LOG IND" onclick="login();" data-localize="login">LOG IND</ons-button>
          </section>
          <section style="padding: 8px; float:right;">
            <text data-localize="rEmail">Remember Email</text> <input type="checkbox" id="rEmail">
          </section>
        </div>
      </form>
    </ons-col>
  </ons-row>
<ons-tabbar align="center">
    <img class="localize" src="images/icons/flags/GB.png" onclick="chlangEN();" />
    <img class="localize" src="images/icons/flags/DK.png" onclick="chlangDK();" />
</ons-tabbar>
</ons-page>

<script type="text/javascript">
  $( document ).ready(function() {
      getLang();
      setUp();
});
</script>

</body>
</html>
