.left {
	text-align: left;
	color:white;
}

.navigation-bar, h1 {
	color: white;
	background-color: #212a31;
}

.button--large {
	background-color: #3e90ca;
}

/* Overriden styles from mobile */
.ui-page { background: #212a31;}
.ui-input-text {background-color: white !important; -webkit-border-radius: 5px 5px 5px 5px !important; border-radius: 5px 5px 5px 5px !important;}
body { padding-bottom:70px; font-family: "Open Sans";}

.activities_small > .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.nopadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/* Styles */
.localize {
	height: 35px;
	float:right;
	padding:5px;
}

.logo{
	color: white;
	background-color: #212a31;
	margin:0 auto 0 auto !important;
}

.activities_small {
	margin-bottom:30px;
}

.footer {
	background: #212a31 !important;
}

.error {
	color: red;
	text-shadow: none;
}

.credits {
	font-size: 0.5em;
}

/* Forms */
.input_form {
	-webkit-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px 5px 5px 5px !important;
	padding:15px !important;
}

input {
	color: black !important;
}
/* Buttons */
.input_btn {
	float: right;
	color:white; 
	background-color: #3e90ca; 
	border-style: none; 
	-webkit-border-radius: 5px 5px 5px 5px !important;
	border-radius: 5px 5px 5px 5px !important;
}