.left
{
    text-align: left;
    color: white;
}

.margin
{
    margin-top: 10px !important;
}

.navigation-bar,
h1
{
    color: white;
    background-color: #212a31;
}

.button--large
{
    background-color: #3e90ca;
}

body
{
    font-family: 'Open Sans';
    padding-bottom: 70px;
}

.menuItem {
	display: inline;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	z-index: -200;
}

hr {
    border-color: #ddd;
    border-style: solid;
}

/* Styles */
.localize
{
    float: right;
    height: 50px;
    padding: 5px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.logo
{
    margin: 0 auto 0 auto !important;

    color: white;
    background-color: #212a31;
}

.activities_small
{
    margin-bottom: 30px;
}

.footer
{
    background: #212a31 !important;
}

.error
{
    color: red;
    text-shadow: none;
}

.credits
{
    font-size: .5em;
}

/* Forms */
.input_form
{
    padding: 15px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
            border-radius: 5px 5px 5px 5px !important;
}

input
{
    color: black !important;
}

/* Buttons */
.input_btn
{
    float: right;
    color: white;
    border-style: none;
    -webkit-border-radius: 5px 5px 5px 5px !important;
            border-radius: 5px 5px 5px 5px !important;
    background-color: #3e90ca;
}
